.wp-insert-post {
	margin: 0 0 1.5em;
}
.wpip-box {
	margin: 0 0 1em 0;
}
.wpip-label {
	float: none;
	color: #888;
	font-size: 12px; 
	font-weight: 700;
	margin-bottom: 3px;
}

.wpip-box input[type="text"] {
	width: 250px;
}
.wpip-box select {
	width: 260px;
	height: 30px;
}
.wpip-box textarea {
	width: 450px;
	height: 150px;
}


#wpip-message {
}
.wpip-error {
	border: 1px solid #f03;
	color: #f03;
	font-size:13px;
	font-weight:bold;
	padding:10px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.wpip-success {
	font-size:13px;font-weight:bold; background:#96f95b url('../images/done.png') no-repeat 8px 50%; border:1px solid #00b204; padding:10px 10px 10px 51px; -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;}
}